/*----google fonts----*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}

/*----banner section-----*/
.container {
    background-color: #161616;
    width: 1036px;
    height: 546px;
    border-radius: 30px;
    margin-left: 120px;
    margin-top: 50px;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.banner-info {
    margin-left: 67px;
    margin-top: 20px;
}

.section-title {
    font-size: 60px;
    line-height: 80px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 20px;

}

.text-box {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: normal;

}

.hero-btn {
    width: 167px;
    background-color: #DD0000;
    height: 56px;
    border-radius: 5px;
    padding: 16px 15px;
    gap: 10px;
    transition: 0.5s;

}

.hero-btn:hover {
    background-color: rgb(208, 123, 123);
}

.fa-greater-than {
    margin-left: 10px;
}

.banner-img {
    width: 390px;
    height: 510px;
    margin-top: 30px;
}

/* ---------
     button 
------------ */

.btn-group {
    background: #161616;
    width: 250px;
    position: absolute;
    left: 140px;
    margin-top: 90px;
    border-radius: 10px;
    text-align: center;
}

.button {
    display: block;
    height: 34px;
    width: 121px;
    padding: 15px;
    margin: 15px 44px;
    border-radius: 10px;
    cursor: pointer;

}

.btn-group .button {
    background-color: #FFFFFF;
    text-decoration: none;
    color: #161616
}

.btn-group :last-child {
    background-color: #DD0000;
}

/*---------------
blog section
----------------- */


.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    left: 455px;
    margin-top: 90px;

}

.blog {
    padding: 5px;
    border: 1px solid whitesmoke;
}

.blog .blog-img img {
    height: 125px;
    width: 225px;
    border-radius: 10px;
}

.blog-btn {
    width: 90px;
    height: 25px;
    border: 1px solid #161616;
    color: #161616;
    border-radius: 5px;
    margin-top: 10px;


}

.blog-info .blog-text {
    font-family: normal;
    color: #161616;
}

.blog-detail {
    display: flex;
    padding-bottom: 10px;
    color: rgba(22, 22, 22, 0.7);
    font-family: normal;
}

.blog-detail .fa-clock {
    padding: 0 10px;
}

.blog-detail .fa-comment-dots {
    padding: 0 10px;
}

.button .hero-btn {
    visibility: hidden;
    text-align: center;
    margin-left: 47px;
}

/*---------------
 footer section
 --------------- */

.footer {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: -100px;
    background-color: #161616;
    left: 0;
    top: 1512px;
    color: #FFFFFF;


}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;

}

.footer-content h3 {

    color: #FFFFFF;
    line-height: 60px;

}

hr {
    border: 1px solid #FFFFFF1A;
    width: 767px;
    color: #FFFFFF1A;

}

.footer-content p {
    font-size: 16px;
    line-height: 24px;
    color: #B9B9B9;
    font-family: normal;
    display: inline;
    padding: 30px;
}


.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;


}

.socials a {
    padding: 0 10px;
    color: #FFFFFF;
    transition: 0.5s;
}

.socials a :hover {
    color: aqua;
}


/* -------------
media queries
-------------- */

/* Mobile Devices */

@media only screen and (max-width:688px) {


    .section-title {
        font-size: 24px;
        margin: 10px;
    }

    .container {

        width: 100%;
        height: auto;
    }

    .header {
        flex-direction: column;
    }

    .banner-info {

        text-align: center;
        margin-left: 10px;
    }

    .banner-img {
        height: auto;
    }


    .btn-group {
        margin: 24px 70px;
    }



    .blogs {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column-reverse;
        margin-block-start: 306px;
        margin-inline-start: -245px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 375px;
        height: 490px;
        top: 3090px;
        margin-left: 110px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 375px;
        height: 490px;
        top: 3090px;
        margin-left: 110px;
    }

    .footer-content p {
        display: block;
        text-align: center;
        padding: 0;

    }


}

/*------------------ 
Tablet-Devices
------------------*/

@media only screen and (min-width:688px) and (max-width:992px) {
    .section-title {
        font-size: 30px;
        margin: 10px;
    }

    .btn-group {
        background: white;
        display: flex;
        flex-direction: row;
        margin: 24px 70px;
        padding: 40px;

    }


    .blogs {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        flex-direction: column-reverse;
        margin-block-start: 306px;
        margin-inline-start: -145px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 290px;
        top: 2090px;
        margin-left: 170px;
    }

    .footer-content p {
        display: inline-block;
        text-align: center;
        padding: 10px;

    }

    .button .hero-btn {
        visibility: visible;
        text-align: center;
        margin-left: 87px;
    }
}